
.test1{ /*wrong close of openning curly brace*/
  color: red;
   margin: 0; /*Wrong indentation, only one space given, Two space required.*/
  height: 9px; 
  width: 50px;
}
  
.test2 {
  padding: 50px;;; /*Multiple semicolumns instead of One*/
  margin:::: 50px; /*multiple columns insted of One*/
}
  
.test3 {} /*Detects empty block if on a single line.*/

